.section {
    padding: 6rem 0;
    position: relative;
    z-index: 0;

    &#hero {
        padding: 0;
        margin-top: 4rem;
        transition: margin-top .3s;
    }
    &#collection{
        background-color: var(--bg2);
        padding: 10rem 0;
    }
    &#skincare{
        &#after{
            content: '';
            position: absolute;
            width: 100%;
            height: 10rem;
            left: 0;
            bottom: 0;
            background-color: var(--bg2);
        }
    }

    h2.tit {
        font-size: clamp(4rem,5vw,6rem);
        font-weight: 200;
    }

    p.txt {
        font-size: clamp(1.6rem,1.8vw,2rem);
        line-height: 1.4;
    }

    a.btn {
        display: inline-flex;
        margin-top: 3rem;
        padding: 1.7rem 6.8rem;
        font-size: 1.6rem;
        text-align: center;
        max-width: 27rem;
        height: 5rem;
        align-content: center;
        color: var(--bg);
        background-color: var(--primary);
        border-radius: 6rem;
        position: relative;
        border: .1rem solid transparent;
        transition: all .8s;
        overflow: hidden;
        z-index: 1;
        cursor: pointer;
        @media screen and (max-width:1111px){   
            font-size: 1.3rem;
            padding: 1rem 3rem;
        }

        &::after {
            content: "";
            border-radius: 6rem;
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            background-color: var(--primary);
            left: 0;
            top: 0;
            z-index: 0;
            transition: all .5s;
        }

        &:hover {
            color: var(--primary);

            &::after {
                opacity: 1;
                // width: 100%;
                background-color: var(--bg);
                z-index: -1;
            }
        }
    }
    p.txt-2 {
        font-size: 1.9rem;
        color:var(--secondary);
        font-family: 'Source Serif 4',serif;
    }
    p.txt-1 {
        font-size: 1.6rem;
        line-height: 2.6rem;
        color:#202020
    }


}

.section,
header,
footer {
    .inner {
        max-width: var(--maxw);
        margin: auto;
        position: relative;
        height: 100%;

        @media screen and (max-width:1600px){
            padding-left: 2rem;
            padding-right: 2rem;
        }
    }
}

footer{
    border-top: .1rem solid var(--primary);
}

.app-container {
    &.up {
        .TopBanner {
            top: -110%
        }

        header {
            top: 0
        }

        #hero {
            margin-top: 0;
        }
    }

    &.scrolled {
        header {
            background: #ffffff;
            background: linear-gradient(180deg, rgba(255, 255, 255, 1) 24%, rgba(255, 255, 255, 0) 100%);
        }
    }

}

@keyframes up{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-2rem);
    }
}