.section {
    padding: 6rem 0;
    position: relative;
    z-index: 0;

    &#hero {
        padding: 0;
        margin-top:  4rem;
        transition:margin-top .3s;
    }

     &#collection{
        background-color: var(--bg2);
    }

    h2.tit {
        font-size: 7.3rem;
        font-weight: 200
    }

    p.txt {
        font-size: 2.1rem;
    }

    a.btn {
        display: flex;
        align-items: center;
        justify-content: center;

        margin-top: 3rem;
        font-size: 1.6rem;
        width: 27rem;
        height: 5rem;

        color: var(--bg);
        background-color: var(--primary);
        border-radius: 6rem;
        position: relative;
        border: .1rem solid transparent;
        overflow: hidden;
        z-index: 0;

        transition: color .5s;

        &::after {
            content: '';
            position: absolute;
            inset: 0;
            border-radius: 6rem;
            background-color: var(--bg);
            opacity: 0;
            z-index: -1;
            transition: opacity .5s;
        }

        &:hover {
            color: var(--primary);

            &::after {
                opacity: 1;
            }
        }
    }

    p.txt-2{
        font-size: 1.9rem;
        color: var(--secondary);
        font-family: 'Source Serif 4',serif;
    }
    p.txt-1{
        font-size: 1.6rem;
        line-height: 2.6rem;
        color: #202020;
    }
}

.section,
header,
footer {
    .inner {
        max-width: var(--maxw);
        margin: auto;
        position: relative;
        height: 100%;
    }
}


.app-container {
    &.up {
        .TopBanner {
            top: -110%
        }

        header {
            top: 0
        }
    }

    &.scrolled {
        header {
            background: #ffffff;
            background: linear-gradient(180deg, rgba(255, 255, 255, 1) 24%, rgba(255, 255, 255, 0) 100%);
        }
    }

}