@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face{
    font-family: 'CircularStd';
    src: ('/fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

*,*::after,*::before{
    box-sizing:border-box ;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: system-ui,
     -apple-system, Segoe UI, 
     Roboto, Apple SD Gothic Neo, 
     Noto Sans KR, sans-serif;
     background-color: var(--bg);
     color: var(--fg);
}

*{
    font-family: "Circular Std", "Noto Sans KR";
    letter-spacing: -.05em;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Circular Std", "Noto Sans KR";
    font-weight: 700;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

section {
  min-height: 100vh;
}

ul,ol,dl {
  list-style: none;
}