@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face{
    font-family: 'CircularStd';
    src: ('/fonts/CircularStd-Book.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

*,*::after,*::before{
    box-sizing:border-box ;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: system-ui,
     -apple-system, Segoe UI, 
     Roboto, Apple SD Gothic Neo, 
     Noto Sans KR, sans-serif;
     color: var(--fg);
}

*{
    font-family: "Circular Std", "Noto Sans KR";
    letter-spacing: -.05em;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Circular Std", "Noto Sans KR";
    font-weight: 700;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
  font: inherit;
  color: inherit;
}

section {
  min-height: 85vh;
}

ul,ol,dl {
  list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}
img{
    max-width: 100%;
}

::-webkit-scrollbar{
    width: 5px;
    height: 3px;
}

::-webkit-scrollbar-track{
    background-color: #e7e7e7;
}

::-webkit-scrollbar-thumb{
    background-color: var(--primary);
    border-radius: 50px;
}