:root {
    --bg: #fff;
    --bg2: #EEF8FF;
    --fg: #111;
    --text: #231f20;
    --muted: #666;
    --primary: #00B6F0;
    --secondary: #009BDE;
    --tertiary: #678c07;
    --maxw: 128rem;
    --gutter: 2rem;
    --p-gradient: #000000;
    --s-gradient: #C94A2F;
    --t-gradient: #BA8B7B;
    

    --main-slider01-tit: #000000;
    --main-slider01-sub: #231f20;
    --main-slider02-tit: #FF7676;
    --main-slider02-sub: #231f20;
    --main-slider03-tit: #DE8E61;
    --main-slider03-sub: #231f20;
}

$bp-lg: 1280px;
$bp-lg: 992px;
$bp-lg: 768px;
$bp-lg: 480px;