.cta-inner{
    .cta-list{
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 2rem;
        .img-wrap{
            width: 13rem;
            height: 13rem;
            background-repeat: no-repeat;
            background-size: 80%;
            background-position: center;
            border-radius: 13rem;
        }
        p{
            font-size: 1.5rem;
            margin-top: .9rem;
        }
    }
}