footer {
    border-top: .1rem solid var(--primary);
    padding: 7rem 0 5rem;

    .footer-inner {
        display: flex;
        justify-content: space-between;
        max-width: 172rem;
        gap: 60px;

        .left {
            flex: 1;

            h3 {
                margin-bottom: 4rem;
            }

            .foot-list-1 li {
                color: #5b5b5b;
                font-size: 1.3rem;
                line-height: 2.5rem;
            }

            .footer-legal {
                p {
                    color: var(--primary);
                    font-size: 1.2rem;
                    padding: 3rem 0 6rem;
                }

                .legal-links a {
                    display: inline-block;
                    margin-left: 2rem;
                    font-size: 1.3rem;
                    color: #6f6f6f;
                }
            }
        }

        .center {
            flex: 2;
            display: flex;
            gap: 6rem;

            .footer-menu {
                flex: 1;

                ul li a {
                    display: block;
                    font-size: 1.5rem;
                    line-height: 1;
                    color: var(--muted);
                    margin-top: 1.2rem;
                }
            }
        }

        .right {
            flex: 1;

            .cus-wrap {
                .cs-box a {
                    display: block;
                    font-size: 3rem;
                    color: var(--primary);
                    margin-bottom: 1.7rem;
                    font-weight: 400;
                }
            }

            p {
                font-size: 1.4rem;
                color: #5b5b5b;
                line-height: 2.2rem;
            }

            .talk-btn {
                margin-top: 2rem;
                display: inline-block;
                border: .1rem solid var(--primary);
                padding: 1.4rem 7.2rem 1.3rem;
                border-radius: 4.6rem;
                font-size: 1.3rem;
                color: var(--primary);
            }
        }

        h4 {
            color: var(--primary);
            font-family: 'Source Serif Pro', serif;
            font-size: 1.8rem;
            font-style: italic;
            margin-bottom: 2.6rem;
        }
    }
}