.hello-inner{
    display: flex;
    padding-top: 12rem;
    align-items: center;
    .img-warp{
        border-radius: 2rem;
        overflow: hidden;
    }
    .t-wrap{    
        text-align: center;
        width: 63rem;
        h2.tit{
            color: var((--primary));
            margin: 3rem 0 2rem;
        }
    }
}