.TopBanner {
    position: fixed;
    background-color: var(--primary);
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    color: var(--bg);
    text-align: center;
    align-content: center;
    z-index: 5;
    transition: all .3s;
    .swiper {
        height: 100%;
        z-index: 0;
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            font-size: 1.3rem;
        }
    }

    .closeBtn {
        z-index: 3;
        position: absolute;
        right: 2rem;
        width: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }
}