.collection-inner {
    text-align: center;

    h2.tit {
        color: var(--primary);
    }

    p.txt {
        margin-top: 1.7rem;
        font-size: 1.9rem;
        color: var(--secondary)
    }

    .collection-slider {
        margin-top: 6.8rem;

        .info-tit {
            display: inline-flex;
            height: 4rem;
            align-items: center;
            justify-content: center;
            padding: 0 2rem;
            border: .1rem solid var(--secondary);
            border-radius: 4rem;
            color: var(--secondary);
            font-size: 1.3rem;
        }

        .name {
            margin: 2rem 0 1.3rem;
            font-size: 2rem;
            color: var(--text);
            font-family: 'Source Serif Pro', serif;
        }

        .k-name {
            color: var(--text);
            font-size: 1.5rem;
            font-weight: 500;
        }

        .img-wrap {
            width: 36rem;
            height: 36rem;
            overflow: hidden;
            border-radius: 1rem;
            background-color: var(--bg);
            align-content: center;
            margin: 2.5rem auto 0;

            img {
                width: 110%;
            }

            .swiper-button-prev,
            .swiper-button-next {
                display: none !important;
            }
        }


        .swiper-pagination {
            position: static;
            margin: 4.8rem auto 0;
            width: 95%;
            background-color: var(--bg);
            height: .2rem;

            .swiper-pagination-progressbar-fill {
                background-color: var(--secondary);
            }
        }
    }

    .prev,
    .next {
        position: absolute;
        top: calc(50% + 5.3rem);
        z-index: 5;
        width: 3.5rem;
        height: 6.7rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        font-size: 0;
    }

    .prev {
        left: -4.5rem;
        background-image: url(/img/pd_slide_arrow_prev.svg);
    }

    .next {
        background-image: url(/img/pd_slide_arrow_next.svg);
        right: -4.5rem
    }

}