.hero-container {
    height: 90rem;

    h2.tit {
        font-size: clamp(5rem,6vw,7.3rem);
    }

    .swiper {
        height: 100%;
    }

    .hero-slider {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .inner {
            display: flex;
            align-items: center;
            justify-content: left;

            p.txt {
                font-size: 2.1rem;
                margin-top: 4rem;
            }
        }

        &.hs-1 {
            h2.tit {
                color: var(--main-slider01-tit);
                font-family: 'Circular Std';
                font-weight: 500;
            }

            p.txt {
                color: var(--main-slider01-sub);
            }

            a.btn {
                background: var(--p-gradient);
            }
        }

        &.hs-2 {
            h2.tit {
                color: var(--main-slider02-tit);
                font-family: 'Circular Std';
                font-weight: 500;
            }

            p.txt {
                color: var(--main-slider02-sub);
            }

            a.btn {
                background: var(--s-gradient);
            }
        }

        &.hs-3 {
            h2.tit {
                color: var(--main-slider03-tit);
                font-family: 'Circular Std';
                font-weight: 500;
            }

            p.txt {
                color: var(--main-slider03-sub);
            }
            a.btn {
                background: var(--t-gradient);
            }
        }
    }

    .hero-nav {
        position: absolute;
        z-index: 3;
        left: 7.5vw;
        bottom: 8.7rem;
        display: flex;
        align-items: center;
        gap: 2rem;

        .arr-prev,
        .arr-next {
            width: 5rem;
            height: 1.7rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            font-size: 0;
        }

        .arr-prev {
            background-image: url(/img/icon_main_ban_arrow_prev.svg);
        }

        .arr-next {
            background-image: url(/img/icon_main_ban_arrow_next.svg);
        }

        .swiper-pagination-fraction {
            width: 5rem;
            height: 5rem;
            position: relative;
            font-size: 0;

            .swiper-pagination-current {
                font-size: 2.2rem;
                position: absolute;
                left: 0;
                top: 0;
            }

            .swiper-pagination-total {
                font-size: 2.2rem;
                position: absolute;
                right: 0;
                bottom: 0;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 1px;
                height: 50px;
                background-color: var(--bg);
                left: 10%;
                top: 40%;
                transform: rotate(45deg) translate(-50%, -50%);
            }
        }
    }
}