.hero-container {
    height: 90rem;
    @media screen and (max-width:1111px){
        height: 162rem;
    }

    h2.tit {
        font-size: clamp(5rem,6vw,7.3rem);
    }

    .swiper {
        height: 100%;
    }

    .hero-slider {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        .inner {
            display: flex;
            margin-left: 19rem;
            align-items: center;
            justify-content: left;

            @media screen and (max-width:1650px){
                margin:0 ;
            }

           @media screen and (max-width:1111px) {
                margin: auto;
            
                .hero-slider{
                    font-size: 3.5rem;
                }

                .t-wrap {
                    position: absolute;
                    left: 2rem;
                    bottom: 12.5rem;
                }
            }
              @media screen and (max-width:599px) {
                .t-wrap {
                    a.btn {
                        display: none;
                    }
                }
              }

            p.txt {
                font-size: 2.1rem;
                margin-top: 4rem;
                @media screen and (max-width:1111px) {
                    margin: 2rem 0 0;
                }

                @media screen and (max-width:599px) {
                    margin: 1rem 0 0;
                }
            }

        }

        &.hs-1 {
            h2.tit {
                color: var(--main-slider01-tit);
                font-family: 'Circular Std';
                font-weight: 500;

                @media screen and (max-width:390px) {
                    font-size: 3.5rem;
                }
            }

            p.txt {
                color: var(--main-slider01-sub);
            }

            a.btn {
                background: var(--p-gradient);
            }
        }

        &.hs-2 {
            h2.tit {
                color: var(--main-slider02-tit);
                font-family: 'Circular Std';
                font-weight: 500;
            }

            p.txt {
                color: var(--main-slider02-sub);
            }

            a.btn {
                background: var(--s-gradient);
            }
        }

        &.hs-3 {
            h2.tit {
                color: var(--main-slider03-tit);
                font-family: 'Circular Std';
                font-weight: 500;
            }

            p.txt {
                color: var(--main-slider03-sub);
            }
            a.btn {
                background: var(--t-gradient);
            }
        }
    }

    .hero-nav {
        position: absolute;
        z-index: 3;
        left: 7.5vw;
        bottom: 8.7rem;
        display: flex;
        align-items: center;
        gap: 2rem;

        @media screen and (max-width:1111px) {
            left: 2rem;
            bottom: 3.9rem;

        }

        .arr-prev,
        .arr-next {
            width: 5rem;
            height: 1.7rem;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            font-size: 0;
        }

        .arr-prev {
            background-image: url(/src/assets/Arrow\ 2.png);
        }

        .arr-next {
            background-image: url(/src/assets/Arrow\ 1.png);
        }

        .swiper-pagination-fraction {
            width: 5rem;
            height: 5rem;
            position: relative;
            font-size: 0;

            .swiper-pagination-current {
                font-size: 2.2rem;
                position: absolute;
                color: var(--primary);
                left: 0;
                top: 0;
            }

            .swiper-pagination-total {
                font-size: 2.2rem;
                position: absolute;
                color: var(--primary);
                right: 0;
                bottom: 0;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 1px;
                height: 59px;
                background-color: var(--primary);
                left: 10%;
                top: 40%;
                transform: rotate(45deg) translate(-50%, -50%);
            }
        }
    }
}