html{
    @media screen and (max-width:1111px) {
        max-width: 102.4rem;
    }
    
    @media screen and (max-width:390px) {
        max-width: 39rem;
    }
}

#hero{
    min-height: 0;
}

#skincare{
    min-height: 0;
    @media screen and (max-width:1111px) {
        overflow: hidden;
    }
}

#review{
    min-height: 0;
}